# files to ignore during publishing

node_modules
.c9
.eslintrc.json
.tern-project
.codeclimate.yml
tests
.git
tslint.json
tsconfig.json
renovate.json
README.md 
.tern-project
package-lock.json
.travis.yml